chromadb
matplotlib
numpy
pandas
Pillow
sentence_transformers
spacy
streamlit
wordcloud
pysqlite3-binary
https://huggingface.co/spacy/es_core_news_sm/resolve/main/es_core_news_sm-any-py3-none-any.whl
